<template>
    <div class="home">
        <select @change="changeLocale">
            <option v-for="(newLocale, key) in locales" :value="newLocale" :key="key">
                {{ newLocale.toUpperCase() }}
            </option>
        </select>
        <table>
            <thead>
                <tr>
                    <th>
                        NOM
                        <button @click="sortByName">
                            <span v-if="sortByNameAsc">v</span>
                            <span v-else>^</span>
                        </button>
                    </th>
                    <th>
                        CAPITALE
                        <button @click="sortByCapital">
                            <span v-if="sortByCapitalAsc">v</span>
                            <span v-else>^</span>
                        </button>
                    </th>
                    <th>
                        CONTINENT
                        <button @click="sortByRegion">
                            <span v-if="sortByRegionAsc">v</span>
                            <span v-else>^</span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(country, key) in sortedCountries" :key="key">
                    <td>
                        <img height="10" :src="country.flag" :alt="country.translations[locale]">
                        {{ country.translations[locale] }}
                    </td>
                    <td>{{ country.capital }}</td>
                    <td>{{ country.region }}</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination" style="display: inline-block; text-align: center;">
            <button @click="paginate(page - 1)" v-if="page > 1">Previous</button>
            <div v-for="(pageNumber, key) in pages" :key="key" style="display: inline-block">
                <button @click="paginate(pageNumber)">{{ pageNumber }}</button>
            </div>
            <button @click="paginate(page + 1)" v-if="page < 13">Next</button>
        </div>
    </div>
</template>

<script>
    import axios from "axios"
    import _ from "underscore"

    export default {
        name: 'Home',
        created() {
            axios.get("https://restcountries.eu/rest/v2/all")
                .then(response => {
                    this.page = 1;
                    this.pages = Math.ceil(_.size(response.data) / 20);
                    this.$store.dispatch('actionCountries', response.data)
                        .then(() => {
                            this.$store.dispatch('actionLocales', _.sortBy(_.keys(response.data[0].translations)))
                                .then(() => {
                                    for (let i = 1; i < this.page * 20; i++) {
                                        this.sortedCountries.push(this.countries[i])
                                    }
                                });
                        });
                })
        },
        computed: {
            countries() {
                return this.$store.getters.countries
            },
            locale() {
                return this.$store.getters.locale
            },
            locales() {
                return this.$store.getters.locales
            }
        },
        data() {
            return {
                page: 0,
                pages: 0,
                sortByNameAsc: true,
                sortByCapitalAsc: false,
                sortByRegionAsc: false,
                sortedCountries: [],
            }
        },
        methods: {
            changeLocale(event) {
                this.$store.dispatch('actionLocale', event.target.value);
            },
            paginate(page) {
                let currentPage = this.page;
                this.page = page;
                this.sortedCountries = [];
                if (currentPage > 1) {
                    for (let i = currentPage * 20; i < this.page * 20; i++) {
                        if (this.countries[i]) {
                            this.sortedCountries.push(this.countries[i])
                        }
                    }
                } else {
                    for (let i = currentPage; i < this.page * 20; i++) {
                        if (this.countries[i]) {
                            this.sortedCountries.push(this.countries[i])
                        }
                    }
                }
            },
            sortByName() {
                if (this.sortByNameAsc) {
                    this.sortByNameAsc = false;
                    this.sortedCountries = _.sortBy(this.countries, 'name').reverse();
                } else {
                    this.sortByNameAsc = true;
                    this.sortedCountries = _.sortBy(this.countries, 'name');
                }
            },
            sortByCapital() {
                if (this.sortByCapitalAsc) {
                    this.sortByCapitalAsc = false;
                    this.sortedCountries = _.sortBy(this.countries, 'capital').reverse();
                } else {
                    this.sortByCapitalAsc = true;
                    this.sortedCountries = _.sortBy(this.countries, 'capital');
                }
            },
            sortByRegion() {
                if (this.sortByRegionAsc) {
                    this.sortByRegionAsc = false;
                    this.sortedCountries = _.sortBy(this.countries, 'region').reverse();
                } else {
                    this.sortByRegionAsc = true;
                    this.sortedCountries = _.sortBy(this.countries, 'region');
                }
            },
        }
    }
</script>
